{% extends "legistar/item-base.jinja2" %}

{% macro selectOption(value, text, selected_value) %}
<option value="{{ value }}"{% if value == selected_value %} selected{% endif %}>{{ text }}</option>
{% endmacro %}

{% block section_inner %}
{{ super() }}
<form class="mt-3 px-2 py-2 border" method="post">
  <input type="hidden" name="next_url" value="{{ form_data['next_url'] }}">
  <div class="mb-3">
    <label for="clip_id_input" class="form-label">Clip Id</label>
    <select id="clip_id_input" class="form-select" name="clip_id" value="{{ form_data['clip_id'] }}">
      {{ selectOption('None', '---', form_data['clip_id']) }}
      {{ selectOption('NoClip', 'No Clip', form_data['clip_id'])}}
    {% for clip in clip_options %}
      {{ selectOption(clip.id, clip.unique_name, form_data['clip_id']) }}
    {% endfor %}
    </select>
  </div>
  <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
