{% extends "base.jinja2" %}
{% from "includes/macros.jinja2" import Link, Section with context %}

{% macro desc_list(title, value=None) %}
<dt class="col-sm-2">{{ title }}</dt>
<dd class="col-sm-10">{% if value %}{{ value }}{% else %}{{ caller() }}{% endif %}</dd>
{% endmacro %}

{% block main %}
<main class="container-fluid">
  <div id="itemId" class="invisible" data-item-id="{{ item_id }}"></div>
  <div id="itemType" class="invisible" data-item-type="{{ change_view_name }}"></div>
  {% call Section(page_title, extraClass='mt-5') %}
  {% block section %}
    <div class="row">
      <div class="col-lg-6 mb-4">
        {% block section_inner %}
        <dl class="row">
          {{ desc_list('Category', item.feed_item.category) }}
          {{ desc_list('Date', item.feed_item.meeting_date|datetime_format) }}
          {{ desc_list('Agenda Status', item.agenda_status) }}
          {{ desc_list('Minutes Status', item.minutes_status) }}
          {{ desc_list('Location', item.location) }}
          {% call desc_list('Link') %}
            <a href="{{ item.feed_item.link }}">{{ item.feed_item.link }}</a>
          {% endcall %}
          {% call desc_list('Files') %}
            <ul class="list-group">
            {% for file_uid, file_data in file_iter %}
              <li class="list-group-item">
                {% if request.app['use_s3'] %}
                  <a href="{{ legistar_url((legistar_type, item_id, file_uid)) }}">{{ file_data.name|snake_case_to_title }}</a>
                {% else %}
                  <a href="{{ static_path(file_static_key, file_data.filename) }}">{{ file_data.name|snake_case_to_title }}</a>
                {% endif %}
              </li>
            {% endfor %}
            </ul>
          {% endcall %}
          {% call desc_list('Clip') %}
            {% if clip %}<a href="{{ url('clip_item', clip_id=clip_id) }}">{{ clip_id }}</a>{% else %}{{ clip_id }}{% endif %}
          {% endcall %}
        </dl>
        {% endblock section_inner %}
      </div>
      <div class="col">
        <div class="d-flex flex-column">
          <ul class="nav nav-tabs">
            <li class="nav-item">
              {{ Link(url_query({media_embed_query_param:'video'}), 'Video', extraClass="nav-link", auto_active=False, force_active=media_embed_type == 'video') }}
            </li>
            <li class="nav-item">
              {{ Link(url_query({media_embed_query_param:'audio'}), 'Audio', extraClass="nav-link", auto_active=False, force_active=media_embed_type == 'audio') }}
            </li>
          </ul>
          {% include "includes/video-embed.jinja2" %}
        </div>
      </div>
    </div>
  {% endblock section %}
  {% endcall %}
</main>
{% endblock %}
