{% extends "base.jinja2" %}
{%- from "includes/macros.jinja2" import Link, Section, mergeClasses with context -%}
{%- from "includes/list-filter-form.jinja2" import list_filter_form with context -%}
{%- from "includes/paginator.jinja2" import Paginator with context -%}

{% block main %}
<main>
  <div id="itemListType" class="invisible" data-item-type="{{ item_view_name }}"></div>
  {% call Section(item_list_title or page_title) %}
    <nav class="navbar navbar-expand-lg bg-body-primary mt-4">
      <div class="container-fluid">
        <button
          class="navbar-toggler"
          type="button"
          data-coreui-toggle="collapse"
          data-coreui-target="#listFilterForm"
          aria-controls="listFilterForm"
          aria-expanded="false"
          aria-label="Toggle navigation"
        >
          <i class="bi bi-funnel"></i> Show Filters
        </button>
        <div class="collapse navbar-collapse mt-3 border border-dark-subtle rounded px-2 py-4" id="listFilterForm">
          {% block list_filter_form_call %}{{ list_filter_form('mt-4') }}{% endblock %}
        </div>
      </div>
    </nav>
    <div class="row mt-4 mx-2">
      <div class="col align-self-start">
        <table class="item-table table table-striped table-bordered">
          {% block table_main %}
          <thead><tr>
            {% block table_head scoped %}
            {% for column_name in column_names %}
            <th scope="col">{{ column_name }}</th>
            {% endfor %}
            {% endblock %}
          </tr></thead>
          <tbody>
          {% block table_body %}
          {% for item_id, item in paginator -%}{% block table_row_item scoped required %}{% endblock %}{% endfor %}
          {% endblock table_body %}
          </tbody>
          {% endblock table_main %}
        </table>
      </div>
    </div>
  {{ Paginator() }}
  {% endcall %}
</main>
{% endblock %}
