{%- from "includes/macros.jinja2" import mergeClasses -%}

{% macro filter_select(elem_id, name, label, value=None, tooltip=None) %}
<label for="{{ elem_id }}" class="form-label">{{ label }}</label>
<select
  id="{{ elem_id }}"
  name="{{ name }}"{% if value != None %} value="{{ value }}"{% endif %}
  class="form-select form-select-sm"
  onchange="this.form.submit()"
  {% if tooltip %}data-coreui-toggle="tooltip" data-coreui-title="{{ tooltip }}"{% endif %}
>
  {{ caller() }}
</select>
{% endmacro %}

{% macro date_input_field(elem_id, name, label, value=None) %}
<label for="{{ elem_id }}" class="form-label">{{ label }}</label>
<input
  id="{{ elem_id }}"
  name="{{ name }}"
  type="date"
  class="form-control"
  value="{{ value }}"
>
{% endmacro %}

{% macro list_filter_form(extraClass=None) %}
{% set view_unassigned = filter_context['view_unassigned'] %}
{% set current_category = filter_context['current_category'] %}
{% set filter_by_date = filter_context['filter_by_date'] %}
{% set start_date = filter_context['start_date']|date_format('%Y-%m-%d') if filter_context['start_date'] else '' %}
{% set end_date = filter_context['end_date']|date_format('%Y-%m-%d') if filter_context['end_date'] else '' %}
{% set all_categories = filter_context['all_categories'] %}
<nav class="{{ mergeClasses('navbar', 'bg-body-primary', extraClass) }}">
  <form id="list_filter_form" class="d-flex" method="get">
    <div class="row g-3 align-items-end">
      <div class="col-auto">
        {% call filter_select('clip_status_select', name='unassigned', label='Clip Status', value=1 if view_unassigned else '', tooltip='Filter Items with or without clips') %}
          <option value=""{% if not view_unassigned %} selected{% endif %}>All</option>
          <option value="1"{% if view_unassigned %} selected{% endif %}>Unassigned</option>
        {% endcall %}
      </div>
      <div class="col-auto">
        {% call filter_select('category_select', name='category', label='Category', value=current_category, tooltip='Filter by Category') %}
          <option value=""{% if not current_category %} selected{% endif %}>All</option>
          {% for category in all_categories %}
          <option value="{{ category }}"{% if category == current_category %} selected{% endif %}>{{ category }}</option>
          {% endfor %}
        {% endcall %}
      </div>
      <div class="col-auto">
        <div class="form-check form-switch">
          <input
            class="form-check-input"
            type="checkbox"
            role="switch"
            id="filter_by_date_input"
            name="filter_by_date"
            value="1" {% if filter_by_date %}checked{% endif %}
            onchange="
              const dateDiv = document.getElementById('date_filter_inputs')
              dateDiv.classList.toggle('d-none');
              if (!this.checked) {
                dateDiv.querySelectorAll('input[type=date]').forEach((input) => input.value = '');
                this.form.submit();
              }
            "
          >
          <label class="form-check-label" for="filter_by_date_input">Filter by Date</label>
        </div>
      </div>
      <div class="col-auto{% if not filter_by_date %} d-none{% endif %}" id="date_filter_inputs">
        <div class="row">
          <div class="col-auto">
            {{ date_input_field('start_date_input', name='start_date', label='Start Date', value=start_date) }}
          </div>
          <div class="col-auto">
            {{ date_input_field('end_date_input', name='end_date', label='End Date', value=end_date) }}
          </div>
        </div>
        <button
          class="btn btn-primary"
          onclick="document.getElementById('list_filter_form').submit()"
        >Filter</button>
      </div>
    </div>
  </form>
</nav>
{% endmacro %}
