{% from "includes/macros.jinja2" import Link, mergeClasses with context %}

{% macro navBar(toggleId='navbarSupportedContent') -%}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand px-4 border-end border-end-primary-subtle" href="#">{{ app.site_name }}</a>
    <button
      class="navbar-toggler"
      type="button"
      data-coreui-toggle="collapse"
      data-coreui-target="#{{ toggleId }}"
      aria-controls="{{ toggleId }}"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="{{ toggleId }}">
      {{ caller() }}
    </div>
  </div>
</nav>
{%- endmacro %}


{% macro headerNav() -%}
<header class="header">
  <a class="header-brand" href="#">
    Brand
  </a>
  <button class="header-toggler" type="button">
    <span class="header-toggler-icon"></span>
  </button>
  <ul class="header-nav mr-auto">
    {{ caller() }}
  </ul>
</header>
{%- endmacro %}


{% macro navItem(elemId=None, extraClass=None) -%}
  <li class="{{ mergeClasses('nav-item', extraClass) }}"{% if elemId is not none %} id="{{ elemId }}"{% endif %}>
    {{ caller() }}
  </li>
{%- endmacro %}


{% macro navLink(href, text) %}
  {% call navItem() -%}
  {{ Link(href, text, extraClass="nav-link") }}
  {%- endcall %}
{% endmacro %}

{% macro navDropdownButton(elemId, extraClass=None) -%}
<a
  class="{{ mergeClasses('nav-link dropdown-toggle', extraClass) }}"
  {% if elemId is not none %}id="{{ elemId }}"{% endif %}
  href="#"
  role="button"
  data-coreui-toggle="dropdown"
  aria-expanded="false"
>
  {{ caller() }}
</a>
{%- endmacro %}

{% macro navDropdown(title, elemId=None, extraClass=None) -%}
{% set outerCaller=caller %}
{% call navItem(extraClass=mergeClasses('dropdown', extraClass), elemId=elemId) %}
  {% call navDropdownButton() %}
    {{ title }}
  {% endcall %}
  <ul class="dropdown-menu">
    {{ outerCaller() }}
  </ul>
{% endcall %}
{%- endmacro %}


{% macro navDropdownItem(href, text) -%}
<li>
  {{ Link(href, text, extraClass="dropdown-item") }}
</li>
{%- endmacro %}

{% macro navDropdownDivider() -%}
<li><hr class="dropdown-divider"></li>
{%- endmacro %}
