{%- from "includes/macros.jinja2" import Link with context -%}
{%- from "includes/navbar-macros.jinja2" import navBar, headerNav, navLink with context -%}

{% call navBar() %}
{% for nav_link in nav_links %}
    {{ navLink(nav_link.get_url(app), nav_link.title) }}
{% endfor %}
{% endcall %}
